/* =======================================================
   GENERAL
======================================================= */

body{
    background:#F4F6F9;
    font-family:Segoe UI,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight:600;
}

.dash-graph{
    border-radius:18px;
}

/* =======================================================
   CARDS
======================================================= */

.dashboard-card{

    background:white;

    border-radius:18px;

    border:none;

    box-shadow:0 4px 15px rgba(0,0,0,.10);

    transition:
        transform .25s ease,
        box-shadow .25s ease;

    margin-top: 5px;

}

.dashboard-card:hover{

    transform:translateY(-6px);

    box-shadow:0 14px 28px rgba(0,0,0,.16);

}

.dashboard-container-card{

    background:rgb(190, 208, 183);

    border-radius:18px;

    border:none;

    box-shadow:0 4px 15px rgba(0,0,0,.10);

    transition:
        transform .25s ease,
        box-shadow .25s ease;

    margin-top: 5px;

}

.dashboard-container-card:hover{

    transform:translateY(-6px);

    box-shadow:0 14px 28px rgba(0,0,0,.16);

}

/* =======================================================
   KPI CARDS
======================================================= */

.metric-card{

    background:white;

    border-radius:18px;

    padding:15px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.metric-card:hover{

    transform:translateY(-5px);

}

.metric-number{

    font-size:42px;

    font-weight:bold;

    text-align:center;

}

.metric-title{

    color:#777;

    font-size:15px;

    text-align:center;

}

.metric-footer{

    color:#999;

    text-align:center;

}

/* =======================================================
   HEADER
======================================================= */

/*.header-card{

    background:linear-gradient(90deg,#0F4C81,#1565C0);

    border-radius:20px;

    color:white;

    box-shadow:0 8px 22px rgba(0,0,0,.15);

    margin-bottom: 25px;

}*/

.header-card{

    background:linear-gradient(
        135deg,
        #0F4C81,
        #1565C0
    );

    border:none;

    border-radius:20px;

    color:white;

    padding:8px;

    box-shadow:0 12px 25px rgba(0,0,0,.18);

}

/* =======================================================
   SIDEBAR
======================================================= */

.sidebar{

    background:#1565C0;

    border-radius:18px;

    padding:15px;

    box-shadow:0 4px 15px rgba(0,0,0,.10);

    margin-bottom: 25px;

}

/* =======================================================
   DROPDOWNS
======================================================= */

.Select-control{
    border-radius:10px !important;
    border:1px solid #D6DBDF !important;
    min-height:45px !important;
}

.Select-menu-outer{
    border-radius:10px;
}

.Select-value-label{
    font-weight:500;
}

.DateInput_input{

    border-radius:10px !important;

    font-size:14px !important;

}

.DateRangePickerInput{

    border-radius:10px !important;

    border:1px solid #D6DBDF !important;

}

.btn{

    transition:all .25s ease;

}

.btn:hover{

    transform:translateY(-2px);

}